In [1]:
import pandas as pd

In [3]:
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

In [4]:
data

{'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada'],
 'year': [2000, 2001, 2002, 2001, 2002],
 'pop': [1.5, 1.7, 3.6, 2.4, 2.9]}

In [15]:
df = pd.DataFrame(data,['A','B','C','D','E'])

In [16]:
df

    state  year  pop
A    Ohio  2000  1.5
B    Ohio  2001  1.7
C    Ohio  2002  3.6
D  Nevada  2001  2.4
E  Nevada  2002  2.9

In [22]:
df.columns(['year', 'state', 'pop'])

TypeError: 'Index' object is not callable