In [8]:
import numpy as np
import pandas as pd

csv
excel
html
sql

In [9]:
pwd

'd:\\Abhay\\Data-Science-and-machine-learning\\Udemy\\pandas'

In [10]:
pd.read_csv('example.csv')

   Unnamed: 0    A    B  C  D
0           0  foo  one  x  1
1           1  foo  one  y  3
2           2  foo  two  x  2
3           3  bar  two  y  5
4           4  bar  onw  x  4
5           5  bar  onw  y  1

In [11]:
df=pd.read_csv('example.csv')

In [12]:
df

   Unnamed: 0    A    B  C  D
0           0  foo  one  x  1
1           1  foo  one  y  3
2           2  foo  two  x  2
3           3  bar  two  y  5
4           4  bar  onw  x  4
5           5  bar  onw  y  1

In [13]:
df.to_csv('09_output',index=False)

In [14]:
df.to_excel('09_excel.xlsx',index=False)

ModuleNotFoundError: No module named 'openpyxl'

In [ ]:
pd.read_csv('09_output')

   Unnamed: 0    A    B  C  D
0           0  foo  one  x  1
1           1  foo  one  y  3
2           2  foo  two  x  2
3           3  bar  two  y  5
4           4  bar  onw  x  4
5           5  bar  onw  y  1

In [ ]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\abhay\appdata\local\programs\python\python313\lib\site-packages (2.0.2)Note: you may need to restart the kernel to use updated packages.