In [2]:
import numpy as np
import pandas as pd

csv
excel
html
sql

In [3]:
pwd

'd:\\Abhay\\Data-Science-and-machine-learning\\Udemy\\pandas'

In [4]:
pd.read_csv('example.csv')

   Unnamed: 0    A    B  C  D
0           0  foo  one  x  1
1           1  foo  one  y  3
2           2  foo  two  x  2
3           3  bar  two  y  5
4           4  bar  onw  x  4
5           5  bar  onw  y  1

In [5]:
df=pd.read_csv('example.csv')

In [6]:
df

   Unnamed: 0    A    B  C  D
0           0  foo  one  x  1
1           1  foo  one  y  3
2           2  foo  two  x  2
3           3  bar  two  y  5
4           4  bar  onw  x  4
5           5  bar  onw  y  1

In [7]:
df.to_csv('09_output',index=False)

In [8]:
df.to_excel('09_excel.xlsx',index=False)

In [9]:
pd.read_csv('09_output')

   Unnamed: 0    A    B  C  D
0           0  foo  one  x  1
1           1  foo  one  y  3
2           2  foo  two  x  2
3           3  bar  two  y  5
4           4  bar  onw  x  4
5           5  bar  onw  y  1

In [10]:
pip install xlrd

Requirement already satisfied: xlrd in c:\users\abhay\appdata\local\programs\python\python313\lib\site-packages (2.0.2)
Note: you may need to restart the kernel to use updated packages.

In [12]:
pd.read_excel('fake.xlsx')

    S.No. College No.  Roll No.  Enroll No.  Gender     Cat.
0     NaN         NaN       NaN         NaN     NaN      NaN
1     1.0     23CSE01       NaN         NaN    MALE  GENERAL
2     2.0     23CSE02       NaN         NaN  FEMALE      OBC
3     3.0     23CSE03       NaN         NaN    MALE      OBC
4     4.0     23CSE04       NaN         NaN    MALE      OBC
5     5.0     23CSE05       NaN         NaN    MALE  GENERAL
6     6.0     23CSE06       NaN         NaN    MALE      OBC
7     7.0     23CSE07       NaN         NaN    MALE  GENERAL
8     8.0     23CSE08       NaN         NaN    MALE      OBC
9     9.0     23CSE09       NaN         NaN  FEMALE  GENERAL
10   10.0     23CSE10       NaN         NaN    MALE  GENERAL
11   11.0     23CSE11       NaN         NaN    MALE  GENERAL
12   12.0     23CSE12       NaN         NaN    MALE      OBC
13   13.0     23CSE13       NaN         NaN    MALE       ST
14   14.0     23CSE14       NaN         NaN    MALE      OBC
15   15.0     23CSE15       NaN         NaN    MALE      OBC
16   16.0     23CSE16       NaN         NaN    MALE      OBC
17   17.0     23CSE17       NaN         NaN    MALE  GENERAL
18   18.0     23CSE18       NaN         NaN    MALE  GENERAL
19   19.0     23CSE19       NaN         NaN    MALE      OBC
20   20.0     23CSE20       NaN         NaN    MALE  GENERAL
21   21.0     23CSE21       NaN         NaN  FEMALE      OBC
22   22.0     23CSE22       NaN         NaN    MALE  GENERAL
23   23.0     23CSE23       NaN         NaN  FEMALE      OBC
24   24.0     23CSE24       NaN         NaN  FEMALE  GENERAL
25   25.0     23CSE25       NaN         NaN    MALE  GENERAL
26   26.0     23CSE26       NaN         NaN    MALE      OBC
27   27.0     23CSE27       NaN         NaN    MALE      OBC
28   28.0     23CSE28       NaN         NaN    MALE      OBC
29   29.0     23CSE29       NaN         NaN    MALE       SC
30   30.0     23CSE30       NaN         NaN    MALE      OBC
31   31.0     23CSE31       NaN         NaN    MALE  GENERAL
32   32.0     23CSE32       NaN         NaN  FEMALE      OBC
33   33.0     23CSE33       NaN         NaN    MALE      OBC
34   34.0     23CSE34       NaN         NaN    MALE      OBC
35   35.0     23CSE35       NaN         NaN  FEMALE      OBC
36   36.0     23CSE36       NaN         NaN    MALE       SC

In [13]:
pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\abhay\appdata\local\programs\python\python313\lib\site-packages (3.1.5)
Requirement already satisfied: et-xmlfile in c:\users\abhay\appdata\local\programs\python\python313\lib\site-packages (from openpyxl) (2.0.0)
Note: you may need to restart the kernel to use updated packages.

In [14]:
pd.read_excel('fake.xlsx',sheet_name='sheet1')

ValueError: Worksheet named 'sheet1' not found